<!DOCTYPE html>
<html>
<head>
	<title>Butuan City</title>
	<style type="text/css">
		html, body{
			height: 100%;
		}
		#map{
			height: 90%;;
			width: 100%;
		}
		#legend{
			height: 10%;
			
		}
		#legend h1{
			
		}
		
		#contentSize{
			height: 100px;
			width: 300px;
			font-size: 20px;
			font-weight: bold;
			text-align: center;
			padding-top: 30px;
		}
	</style>
	<script type="text/javascript" src="/static/thesis/javascript/barangay.js"></script>
	<script type="text/javascript" src="/static/thesis/javascript/blocks.js"></script>
	<script type="text/javascript" src="/static/thesis/javascript/factors.js"></script>

</head>
<body>

<div id="map"></div>
<script type="text/javascript">
	function initMap(){

		var options = {
			zoom:17,
			center:{lat:8.9457, lng:125.5418}
		}

		var map = new google.maps.Map(document.getElementById('map'), options);

		addMarker({lat:8.9407, lng:125.5332}, "SUN BUSINESS CENTER", "blue")
		addMarker({lat:8.9465, lng:125.5313}, "ALLIANCE IN MOTION", "blue")
		addMarker({lat:8.9463, lng:125.5405}, "STERLING BANK OF ASIA VISA CARD BILL PAYMENTS", "blue")
		addMarker({lat:8.9480, lng:125.5428}, "SSS CONTRIBUTION PAYMENT", "blue")
		addMarker({lat:8.9489, lng:125.5417}, "AVON", "blue")
		addMarker({lat:8.9478, lng:125.5441}, "YLH SALES CORPORATION", "blue")
		addMarker({lat:8.9477, lng:125.5446}, "MANCAO SUPERMARKET INCORPORATED", "blue")
		addMarker({lat:8.9456, lng:125.5405}, "ABEST EXPRESS AGUSAN DEL NORTE", "blue")
		addMarker({lat:8.9495, lng:125.5420}, "GENUINE CYCLE CENTER", "blue")
		addMarker({lat:8.948627, lng:125.542812}, "CENTER FOR POP MUSIC BUTUAN", "blue")
		addMarker({lat:8.946683, lng:125.533299}, "LBC EXPRESS INCORPORATED", "blue")
		addMarker({lat:8.9514, lng:125.5405}, "FUNDACION INTERED", "blue")
		addMarker({lat:8.9498, lng:125.5428}, "J.P.T Central Corporate Holding and Management", "blue")
		addMarker({lat:8.9399, lng:125.5235}, "Alchryss Inn And Grill Hauz", "blue")
		addMarker({lat:8.946282, lng:125.532137}, "WESTERN UNNION", "blue")
		addMarker({lat:8.9457, lng:125.5338}, "SM CITY MALL BUTUAN", "red")
		addMarker({lat:8.9424, lng:125.5198}, "ROBINSONS MALL BUTUAN", "red")
		addMarker({lat:8.9478, lng:125.5402}, "ZCC CENTRAL MALL BUTUAN", "red")
		addMarker({lat:8.9442, lng:125.5321}, "GAISANO MALL BUTUAN", "red")
		
		
		

		makePolygon(Humabon,Humabon)
		makePolygon(Sikatuna,Sikatuna)
		makePolygon(Urduja)
		makePolygon(Silongan)
		makePolygon(RajahSoliman)
		makePolygon(Agao)
		makePolygon(DiegoSilang)
		makePolygon(NewSocietyVillage)
		makePolygon(LapuLapu)
		makePolygon(Dagohoy)


		factorsLatLng = [
			{lat:8.9457, lng:125.5338}, // SM 
			{lat:8.9424, lng:125.5198}, // ROBINSONS
			{lat:8.9478, lng:125.5402}, // ZCC
			{lat:8.9442, lng:125.5321}, // GAISANO
			
			{lat:8.9407, lng:125.5332},
			{lat:8.9465, lng:125.5313},
			{lat:8.9463, lng:125.5405},
			{lat:8.9480, lng:125.5428},
			{lat:8.9489, lng:125.5417},
			{lat:8.9478, lng:125.5441},
			{lat:8.9477, lng:125.5446},
			{lat:8.9456, lng:125.5405},
			{lat:8.9495, lng:125.5420},
			{lat:8.948627, lng:125.542812},
			{lat:8.946683, lng:125.533299},
			{lat:8.9514, lng:125.5405},
			{lat:8.9498, lng:125.5428},
			{lat:8.9399, lng:125.5235},
			{lat:8.946282, lng:125.532137},
		
		];
		
		
		var origin1 = new google.maps.LatLng(8.9407,125.5332);
		var destination1 = new google.maps.LatLng(8.9442, 125.5321);
		var travelMode = ['DRIVING']

		var origin = [{lat:8.9407, lng:125.5332},{lat:8.9465, lng:125.5313}]
	
		
		var service = new google.maps.DistanceMatrixService();
		var label = ['sun','aim'];
		var factorss = [
			'sm','robinsons','zcc','gaisano',
			'sun','aim','sterling','SSS', 'AVON', 
			'YLH sales corp', 'MANCAO', 'ABEST EXPRESS', 
			'GENUINE CYCLE CENTER', 'CENTER FOR POP MUSIC',
			'LBC EXPRESS',
			'FUNDACION INTERED',
			'J.P.T CENTRAL',
			'Alchryss Inn And Grill Hauz',
			'WESTERN UNNION'
		];
		var bcname = ['sun','aim','sterling','SSS', 'AVON', 
		'YLH sales corp', 'MANCAO', 'ABEST EXPRESS', 
		'GENUINE CYCLE CENTER', 'CENTER FOR POP MUSIC',
		'LBC EXPRESS',
		'FUNDACION INTERED',
		'J.P.T CENTRAL',
		'Alchryss Inn And Grill Hauz',
		'WESTERN UNNION'];

		

		
		makeBlock(block1,position1,1,position1,factorsLatLng,travelMode);
		makeBlock(block2,position2,2,position2,factorsLatLng,travelMode)
		makeBlock(block3,position3,3,position3,factorsLatLng,travelMode)
		makeBlock(block4,position4,4,position4,factorsLatLng,travelMode)
		makeBlock(block5,position5,5,position5,factorsLatLng,travelMode)
		//makeBlock(block6,position6,6,position6,factorsLatLng,travelMode)
		//makeBlock(block7,position7,7,position7,factorsLatLng,travelMode)
		//makeBlock(block8,position8,8,position8,factorsLatLng,travelMode)
		//makeBlock(block9,position9,9,position9,factorsLatLng,travelMode)
		//makeBlock(block10,position10,10,position10,factorsLatLng,travelMode)
		//makeBlock(block11,position11,11,position11,factorsLatLng,travelMode)
		//makeBlock(block12,position12,12,position12,factorsLatLng,travelMode)
		//makeBlock(block13,position13,13,position13,factorsLatLng,travelMode)
		//makeBlock(block14,position14,14,position14,factorsLatLng,travelMode)
		//makeBlock(block15,position15,15,position15,factorsLatLng,travelMode)
		//makeBlock(block16,position16,16,position16,factorsLatLng,travelMode)
		//makeBlock(block17,position17,17,position17,factorsLatLng,travelMode)
		//makeBlock(block18,position18,18,position18,factorsLatLng,travelMode)
		//makeBlock(block19,position19,19,position19,factorsLatLng,travelMode)
		//makeBlock(block20,position20,20,position20,factorsLatLng,travelMode)
		//makeBlock(block21,position21,21,position21,factorsLatLng,travelMode)
		//makeBlock(block22,position22,22,position22,factorsLatLng,travelMode)
		//makeBlock(block23,position23,23,position23,factorsLatLng,travelMode)
		//makeBlock(block24,position24,24,position24,factorsLatLng,travelMode)
		//makeBlock(block25,position25,25,position25,factorsLatLng,travelMode)
		
	
		function makeBlock(paths, position, blocknumber, origin, factor, travelMode){
			var block = new google.maps.Polygon({
				paths:paths,
				strokeColor:'violet',
				strokeOpacity:0.5,
				fillColor:'violet',
				fillOpacity:0.1
			});
			block.setMap(map);
			
			service.getDistanceMatrix(
			{
				origins: origin,
				destinations: factor,
				travelMode: travelMode[0],
			
			}, callback);

			var mallcount = 0;
			var bcCount = 0;

			var malls = [];
			var bc = [];

			function callback(response, status) {
				if (status == 'OK') {
					var origins = response.originAddresses;
					var destinations = response.destinationAddresses;
					
					for (var i = 0; i < origins.length; i++) {
						var results = response.rows[i].elements;
						
						for (var j = 0; j < results.length; j++) {

							var element = results[j];
					  		var distance = element.distance.text;
					  		var duration = element.duration.text;
					  		var from = origins[i];
							var to = destinations[j];

							console.log("block " + blocknumber + " TO " + factorss[j] + " = " + distance);

							if(j <= 3){

								if(parseInt(distance) <= 2 ){
									malls.push(factorss[j])
									mallcount+=1;
	
								}
								
							}

							if(j >=4 ){
								
								if(parseInt(distance) <=2 ){
									bc.push(factorss[j])
									bcCount+=1;
								}
								
							}

						}
					}

					console.log(mallcount)
					console.log(malls)
					console.log(bc)

					function percentage(obtained, total){
						rate = (obtained/total)*100

						return rate
					}
		
					business_Centers = percentage(bcCount,bcname.length)
					console.log(business_Centers)

					

				}

				function content(){
					var infowindow = new google.maps.InfoWindow();
			
					google.maps.event.addListener(block,'click', function() {
					
						
						var contentString = '<div id = "contentSize">BUSINESS CENTERS: '+ business_Centers + '%'+ '</div>' ;
							infowindow.setContent(contentString);
							infowindow.setPosition(position[0]);
							
					
						infowindow.open(map);
					}); 
				}
			}

			
			
			

		}
		
		 



		//add marker function
		function addMarker(coordinates, stringcontent, color){

			let url = "http://maps.google.com/mapfiles/ms/icons/";
  			url += color + ".png";
			var marker = new google.maps.Marker({
			position:coordinates,
			map:map,	
			icon: {                             
				url: url,
				scaledSize: new google.maps.Size(30, 30), // scaled size                          
			}
			 
			})
				var infoWindow = new google.maps.InfoWindow({
				content: '<h1>'+stringcontent+'</h1>'
			})
				marker.addListener('click', function(){
				infoWindow.open(map, marker);
			})

		}


		//make a polygon function
		function makePolygon(paths,name) {
			var polygon = new google.maps.Polygon({
				paths: paths,
				strokeColor:'red',
				strokeOpacity: 0.1,
				strokeWeight: 3,
				fillColor: 'red',
				fillOpacity: 0.1
			});
			polygon.setMap(map);


			
		}

		
	}
</script>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBY3GZ2fHavousWljcj6X6JboicJFSPnds&callback=initMap"
    async defer></script>
</body>
</html>